/* Estilos globales */
body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
/*TODO SOBRE EL NAV*/

/* Estilos del icono del libro circular */
.book-icon {
    width: 40px; /* Ajusta el tamaño del icono */
    height: 40px;
    fill: white; /* Color del icono */
}

/* Contenedor del logo y el texto "BIDI" */
.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    transition: transform 0.3s ease; /* Transición suave para el hover */
}

.logo-container:hover {
    transform: scale(1.1); /* Agranda ligeramente el logo y el texto al pasar el mouse */
}

/* Estilos del texto "BIDI" */
.logo-text {
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: 700;
    color: white;
    margin-left: 10px; /* Espacio entre el logo y el texto */
}

/* Estilos del icono de perfil */
.profile-icon {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Espacio entre los links y el ícono de perfil */
    transition: transform 0.3s ease; /* Transición suave para el hover */
}

.profile-icon svg {
    width: 32px;
    height: 32px;
    stroke: white; /* Color blanco del icono */
    transition: transform 0.3s ease; /* Efecto de transición suave al hacer hover */
}

/* Efecto de hover para agrandar el icono de perfil */
.profile-icon:hover svg {
    transform: scale(1.2); /* Agranda el icono al pasar el mouse */
}

/* Navbar Styles */
.navbar {
    background-color: #001f4d; /* Fondo azul oscuro */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, links a la derecha */
    align-items: center;
}

/* Contenedor de los enlaces y el icono de perfil */
.nav-container {
    display: flex;
    align-items: center;
}

/* Estilos de los enlaces */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem; /* Espacio entre los enlaces */
}

.nav-links li {
    display: inline;
}

.nav-links li:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2)!important;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
/* Footer Styles */
.footer {
    background-color: #00264d; /* Fondo azul marino oscuro */
    color: white;
    text-align: center;
    padding: .05rem;
    position: relative !important;
    width: 100%;
    margin-top: auto;
}

/* Main Content */
main {
    flex-grow: 1;
    margin-left: 5em;
    padding: 2rem;
    text-align: left;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    background: transparent;
    z-index: 1;
}

/* Fondo y animación */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2; /* Fondo detrás de las olas */
    overflow: hidden;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) -50%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.content {
    padding: 25px;
    overflow: auto;
}

.wave-container {
    position: fixed; /* Olas fijas sobre el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita interacción */
    z-index: 1; /* Coloca las olas encima del fondo pero detrás del contenido principal */
}

/* Estilos de las olas */
.wave {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #056dbb;
    box-shadow: 2px 16px 16px #00d4ff;
    filter: blur(25px);
    opacity: 0.7;
}

.wave.left {
    left: -150px;
    top: -100px;
    animation: moveWaveVertical 2.5s infinite ease-in-out alternate;
}

.wave.right {
    right: -150px;
    top: -100px;
    animation: moveWaveVertical 2.5s infinite ease-in-out alternate;
}

/* Animación de movimiento vertical */
@keyframes moveWaveVertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80vh);
    }
}

/* Contenedor del encabezado de la sección */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Fondo y efecto hover para el botón "Registrar" */
.register-group{
    background-color: #001f4d;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex; /* Permite que los elementos se alineen en una sola fila */
    align-items: left;
    margin-right: 10px; /* Espacio entre los elementos */
    transition: transform 0.2s ease;
    gap: 10px;
}

.filter-group {
    background-color: #001f4d;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex; /* Permite que los elementos se alineen en una sola fila */
    align-items: left;
    margin-right: 780px; /* Espacio entre los elementos */
    transition: transform 0.2s ease;
}

.register-group:hover, .filter-group:hover {
    transform: scale(1.05); /* Agrandamiento en hover */
}

/* Contenedor de las acciones */
.section-actions {
    display: flex;
    align-items: center;
}

/* Estilo del título */
.section-title {
    font-size: 1.8em;
    font-weight: 200;
    color: #fff;
    background-color: #001f4d;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.section-title:hover {
    transform: scale(1.05);
}

/* Botón minimalista */
.create-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
    font-weight: 200;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Texto de estado */
.status-text {
    color: #fff;
    font-size: 1.2em;
    font-weight: 200;
    margin-right: 10px;
}

/* Estilos para el switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #056dbb;
}

input:checked + .slider:before {
    transform: translateX(24px);
}


/* Estilos de las cards para asegurar que estén en la capa superior */
.card-container {
    display: flex;
    justify-content: left;
    position: relative;
    padding-top: 2%;
    flex-wrap: wrap;
    gap: 22px;
    z-index: 2; /* Cards por encima de las olas */
    text-align: center;
    padding-bottom: 3em;
}

.card {
    width: 230px; 
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -1px -1px 3px #ffffff;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.icono {
    background:linear-gradient(to bottom, #056dbb, #001f4d);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px; /* Reducido de 15px a 10px */
    margin-left: 5px;
}

.icono svg {
    width: 40px;
    height: 40px;
    fill: #c2bfbf;
}

.card-title {
    font-size: 1.3em; /* Reducido de 24px a 20px */
    font-weight: 600;
    text-align: center; 
    width: 130px;
}

.card-description {
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.label {
    color: rgb(87, 86, 86);
    margin-right: 5px;
}

.card[data-status="activo"]  {
    opacity:1;
}

/* Indicador rojo para cards inactivas */
.card[data-status="inactivo"]  {
    opacity: 0.6;
}

/* Sombra para la tarjeta seleccionada */
.highlight {
    box-shadow: 0 0 15px 5px rgba(0, 150, 255, 0.7); 
    transition: box-shadow 0.2s ease;
}

.modify-button {
    background-color: #001f4d;
    color: #fff;
    padding: 5px 12px;
    font-size: 1.2em;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.modify-button:hover {
    transform: scale(1.05);
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semi-transparente */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición de opacidad */
}

.modal.show {
    display: block; /* Muestra el modal */
    opacity: 1; /* Opacidad total al mostrar */
}

.modal-container {
    margin: 2% auto; /* Centra el modal en la pantalla */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    overflow: hidden;
    transform: translateY(-20px); /* Posición inicial para la animación */
    transition: transform 0.3s ease; /* Transición de posición */
}

.modal.show .modal-container {
    transform: translateY(0); /* Mueve a la posición final */
}

.modal-header {
    background-color: #e4e4e4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-title {
    margin: 0;
    font-size: 24px;
}
.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.modal-body {
    padding: 20px;
}
.form-group {
    margin-bottom: 12px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-footer {
    padding: 10px;
    text-align: right;

}
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    background-color: #ccc;
    color: #333;
    margin-top: 0;
}

.required {
    color: red;
    margin-left: 3px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-icon input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding-left: 2rem;    /* Espacio para el icono */
}

/* Barra lateral flotante */
.sidebar {
    position: fixed;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
    width: 42px;
    height: auto;
    background-color: #001f4d;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Estilo de los iconos en la barra lateral */
.sidebar .icon {
    margin: 8px 0;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
}

.sidebar .icon:hover {
    transform: scale(1.1);
    background-color: #00112a;
    border-radius: 5px;
    padding: 5px;
}

.sidebar .icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}


<<<<<<< HEAD
.status-indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

.card[data-status="activo"]  {
    opacity:1;

}

/* Indicador rojo para cards inactivas */
.card[data-status="inactivo"]  {
    opacity: 0.6;

}


=======
>>>>>>> 3c76ab3f6858e0491a9bfcbdd775d2aaf30dd9b1
