.modal-container{
    margin: 0.5% auto !important; /* Centra el modal en la pantalla */
}

.card-container{
    gap: 40px;
}

.card {
    width: 300px; 
    height: 320px; 
}

.card-title{
    width: 175px; 
    margin-left: 10px; 
}

.card-author {
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.card-copias {
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.card-categories {
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}


