:root{
    --main-bg-color: rgb(2, 0, 36);
    --sec-bg-color: rgba(9, 9, 121, 1);
    --third-bg-color: rgba(0, 212, 255, 1);
    --nav-bg-color: #001f4d;
    --footer-bg-color: #00264d;
}
main{
 margin-left: 3em !important; 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    position: relative;
    padding-top: 2%;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 3; /* Cards por encima de las olas */
    text-align: center;
    
}

.card {
    background: #e0e0e0;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s;
    width: 240px; 
    height: 260px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    border: 2px solid transparent; /* Borde transparente, para no añadir un borde sólido */
    box-shadow: 0 0 15px rgba(63, 81, 181, 0.3), 0 0 30px rgba(33, 150, 243, 0.4); /* Brillo sutil */
    outline: none; 
}

.card-icon {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
    margin-right: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    margin-top: 0.40rem;
}

.card-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
    height: 2.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn {
    background-color: var(--nav-bg-color);
    color: white;
    border: none;
    padding: 0.50rem 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-top: 0.50rem;
}

.btn:hover {
    background-color: var(--sec-bg-color);
}

