.modal-container{
    margin: 8% auto; /* Centra el modal en la pantalla */ 
}

.card-container{
    gap: 18px;
}

.card {
    width: 275px; 
    height: 330px; 
}

.card-title{
    width: 140px; 
    margin-left: 10px; 
}

